<div id="<%= dom_id holiday %>">
  <p>
    <strong>Region:</strong>
    <%= holiday.region_id %>
  </p>

  <p>
    <strong>Holiday date:</strong>
    <%= holiday.holiday_date %>
  </p>

  <p>
    <strong>Holiday name:</strong>
    <%= holiday.holiday_name %>
  </p>

</div>
