<div id="<%= dom_id category_value %>">
  <p>
    <strong>Category:</strong>
    <%= category_value.category_id %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= category_value.value_id %>
  </p>

  <p>
    <strong>Skhokho:</strong>
    <%= category_value.skhokho_id %>
  </p>

</div>
