<h1>Editing category value</h1>

<%= render "form", category_value: @category_value %>

<br>

<div>
  <%= link_to "Show this category value", @category_value %> |
  <%= link_to "Back to category values", category_values_path %>
</div>
