<h1>Editing allocation type</h1>

<%= render "form", allocation_type: @allocation_type %>

<br>

<div>
  <%= link_to "Show this allocation type", @allocation_type %> |
  <%= link_to "Back to allocation types", allocation_types_path %>
</div>
