<h1>Editing leave accrual</h1>

<%= render "form", leave_accrual: @leave_accrual %>

<br>

<div>
  <%= link_to "Show this leave accrual", @leave_accrual %> |
  <%= link_to "Back to leave accruals", leave_accruals_path %>
</div>
