<h1>Editing period type</h1>

<%= render "form", period_type: @period_type %>

<br>

<div>
  <%= link_to "Show this period type", @period_type %> |
  <%= link_to "Back to period types", period_types_path %>
</div>
