<h1>Editing sharepoint</h1>

<%= render "form", sharepoint: @sharepoint %>

<br>

<div>
  <%= link_to "Show this sharepoint", @sharepoint %> |
  <%= link_to "Back to sharepoints", sharepoints_path %>
</div>
