<div id="<%= dom_id leave_attachment %>">
  <p>
    <strong>Leave:</strong>
    <%= leave_attachment.leave_id %>
  </p>

  <p>
    <strong>Filename:</strong>
    <%= leave_attachment.filename %>
  </p>

  <p>
    <strong>Attachment link:</strong>
    <%= leave_attachment.attachment_link %>
  </p>

</div>
