<h1>Editing leave attachment</h1>

<%= render "form", leave_attachment: @leave_attachment %>

<br>

<div>
  <%= link_to "Show this leave attachment", @leave_attachment %> |
  <%= link_to "Back to leave attachments", leave_attachments_path %>
</div>
