<h1>Editing leave history</h1>

<%= render "form", leave_history: @leave_history %>

<br>

<div>
  <%= link_to "Show this leave history", @leave_history %> |
  <%= link_to "Back to leave histories", leave_histories_path %>
</div>
